<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title>Comment</title>
</head>
<body>
<div class="row">
    <div class="col-6">
        <div th:text="${comment.comment}"></div>
        <div th:text="${comment.dateTime}"></div>
    </div>
    <div class="col-3">
    </div>
</div>
</body>
</html>