<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title>Comments List</title>
    <div th:replace="fragments/imports :: imports"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <tr th:each="comment : ${comments}">
            <td>
                <a th:href="@{/comment(id=${comment.id})}"></a>
                <a th:href="@{/comment/delete(id=${comment.id})}">
                    <button th:text="#{delete.welcome}">Delete</button>
                </a>
                <a th:href="@{/comment/update(id=${comment.id})}">
                    <button th:text="#{edit.welcome}">Edit</button>
                </a>
                <br>
                <div th:text="${comment.comment}"></div>
                <br>
                <div th:text="${comment.dateTime}"></div>
                <br><br>
            </td>
        </tr>
    </div>
</div>
</body>
</html>