<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create comment</title>
</head>
<body>
<form th:action="@{/comment/create}" method="post">
    <div class="row">
        <div class="col-6">
                <input type="text" name="user" th:text="#{role.user.welcome}" value=""/>
                <input type="text" name="comment" th:text="#{description.welcome}" value=""/>
                <button type="submit">
                    <div th:text="#{article_save.welcome}"></div>
                </button>
        </div>
    </div>
</form>
</body>
</html>