<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update comment</title>
</head>
<body>
<form th:action="@{/comment/update}" method="post">
    <div class="row">
        <div class="col-6">
            <input type="text" name="id" th:value="${comment.id}" hidden/>
            <input type="text" name="title" th:text="#{role.user.welcome}" th:value="${comment.user}"/>
            <input type="text" name="comment" th:text="#{description.welcome}" th:value="${comment.comment}"/>
            <input type="text" name="dateTime" th:value="${comment.dateTime}" hidden/>
            <button type="submit">
                <div th:text="#{edit.welcome}"></div>
            </button>
        </div>
    </div>
</form>
</body>
</html>