<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Article List</title>
</head>
<body>
<div th:replace="fragments/imports :: imports"></div>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link" th:href="@{/articles(pageNumber=${pageNumber})}"
                       th:text="${pageNumber}">
                    </a>
                </li>
            </ul>
        </nav>
        <div th:each="article : ${articles}">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="article-header">
                            <a th:href="@{/article(id=${article.id})}" th:text="${article.title}">
                                Article
                            </a>
                        </div>
                        <div sec:authorize="hasAuthority('EDITOR')">
                            <a th:href="@{/article/delete(id=${article.id})}">
                                <button th:text="#{delete.welcome}" class="btn btn-danger">
                                    Delete
                                </button>
                            </a>
                            <a th:href="@{/article/update(id=${article.id})}">
                                <button th:text="#{edit.welcome}" class="btn btn-warning">
                                    Edit
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div th:text="${article.foreword}"></div>
                    <br>
                    <div th:text="${article.dateTime}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>