<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Article</title>
</head>
<body>
<div th:replace="fragments/imports :: imports"></div>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 content">
        <tr th:each="article : ${article}">
            <div class="d-flex justify-content-between">
                <div th:text="${article.title}"></div>
                <div th:text="${article.dateTime}"></div>
            </div>
            <div class="card-body">
                <div th:text="${article.foreword}"></div>
                <br>
                <div th:text="${article.description}"></div>
                <br>
                <div class="card" th:each="comment : ${article.comments}">
                    <div class="d-flex card-header justify-content-between">
                        <div th:text="${comment.user.login}"></div>
                        <div th:text="${comment.dateTime}"></div>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0" th:text="${comment.comment}">
                        </blockquote>
                    </div>
                </div>
                <br>
                <form th:action="@{/comment/create}" method="post" sec:authorize="hasAuthority('USER')">
                    <div class="form-group">
                        <input type="text" th:name="userId" th:value="${user.id}" hidden/>
                        <input type="text" th:name="articleId" th:value="${article.id}" hidden/>
                        <textarea rows="4" th:name="comment" class="form-control input-large"></textarea>
                        <button type="submit" class="btn btn-primary small-top-padding">Send</button>
                    </div>
                </form>
            </div>
        </tr>
    </div>
</div>
</body>
</html>