<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create article</title>
<body>
<div th:replace="fragments/imports :: imports"></div>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 content">
        <form th:action="@{/article/create}" method="post">
            <input type="text" name="id" th:value="${article.id}" hidden/>
            <div class="form-row">
                <label for="title" th:text="#{title.welcome}">Title</label>
                <textarea rows="4" id="title" name="title"
                          class="form-control input-large" th:text="${article.title}"
                          th:value="${article.title}"></textarea>
            </div>
            <div class="form-row small-top-padding">
                <label for="foreword" th:text="#{foreword.welcome}">Foreword</label>
                <textarea rows="12" id="foreword" name="foreword"
                          class="form-control input-large" th:text="${article.foreword}"
                          th:value="${article.foreword}"></textarea>
            </div>
            <div class="form-row small-top-padding">
                <label for="description" th:text="#{description.welcome}">Description</label>
                <textarea rows="8" id="description" name="description"
                          class="form-control input-large" th:text="${article.title}"
                          th:value="${article.description}"></textarea>
            </div>
            <div class="form-group small-top-padding">
                <button type="submit" class="btn btn-primary">
                    <div th:text="#{article_save.welcome}"></div>
                </button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>
</body>
</html>