<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Battle List</title>
    <div th:replace="fragments/imports :: imports"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <tr th:each="battle : ${battles}">
            <td>
                <a th:href="@{/battle(id=${battle.id})}" th:text="${battle.title}"></a>
                <div sec:authorize="hasAuthority('EDITOR')">
                    <a th:href="@{/battle/delete(id=${battle.id})}">
                        <button th:text="#{delete.welcome}" class="btn btn-danger">
                            Delete
                        </button>
                    </a>
                    <a th:href="@{/battle/update(id=${battle.id})}">
                        <button th:text="#{edit.welcome}" class="btn btn-warning">
                            Edit
                        </button>
                    </a>
                </div>
            </td>
        </tr>
    </div>
</div>
</body>
</html>