<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title>Battle</title>
    <div th:replace="fragments/imports :: imports"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div th:text="${battle.title}"></div>
        <div th:text="${battle.description}"></div>
        <div th:text="${battle.dateTime}"></div>
    </div>
</div>
</body>
</html>