<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create battle</title>
    <div th:replace="fragments/imports :: imports"></div>

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<form th:action="@{/battle/create}" method="post">
    <div class="row">
        <div class="col-6">
            <input type="text" name="title" th:text="#{title.welcome}" value=""/>
            <input type="text" name="description" th:text="#{description.welcome}" value=""/>
            <input type="text" name="dateTime" th:text="#{date.welcome}" value=""/>
            <button type="submit">
                <div th:text="#{battle_create.welcome}"></div>
            </button>
        </div>
    </div>
</form>
</body>
</html>