<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update battle</title>
    <div th:replace="fragments/imports :: imports"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<form th:action="@{/battle/update}" method="post">
    <div class="row">
        <div class="col-6">
            <input type="text" name="id" th:value="${battle.id}" hidden/>
            <input type="text" name="title" th:text="#{title.welcome}" th:value="${battle.title}"/>
            <input type="text" name="description" th:text="#{description.welcome}" th:value="${battle.description}"/>
            <input type="text" name="dateTime" th:text="#{date.welcome}" th:value="${battle.dateTime}"/>
            <button type="submit" class="btn btn-warning">
                <div th:text="#{battle_create.welcome}"></div>
            </button>
        </div>
    </div>
</form>
</body>
</html>