<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>Registration</title>
<body>
<div th:replace="fragments/imports :: imports"></div>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 content">
        <div th:fragment="registration" sec:authorize="isAnonymous()">
            <div class="card">
                <div class="card-header p-b-0">
                    <h5 class="card-title" th:text="#{registration.welcome}">
                        Log In
                    </h5>
                </div>
                <div class="card-body">
                    <form th:action="@{/user/create}" method="post">
                        <div class="form-group">
                            <label for="login" th:text="#{login.welcome}">Username: </label>
                            <input type="text" class="form-control" name="login" id="login">
                        </div>
                        <div class="form-group">
                            <label for="password" th:text="#{password.welcome}">Password: </label>
                            <input type="password" class="form-control" name="password" id="password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" th:text="#{user_create.welcome}">Log
                                In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
</body>
</html>