<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update user</title>
</head>
<body>
<form th:action="@{/user/update}" method="post">
    <div class="row">
        <div class="col-6">
            <input type="text" name="id" th:value="${user.id}" hidden/>
            <input type="text" name="login" th:text="#{login.welcome}" th:value="${user.login}"/>
            <input type="text" name="password" th:text="#{password.welcome}" th:value="${user.password}"/>
            <div th:text="${user.role}"/>
        </div>

        <input type="radio" name="role" th:text="#{role.admin.welcome}" th:value="ADMIN"/>
        <input type="radio" name="role" th:text="#{role.editor.welcome}" th:value="EDITOR"/>
        <input type="radio" name="role" th:text="#{role.user.welcome}" th:value="USER" checked="checked"/>

        <button type="submit">
            <div th:text="#{edit.welcome}"></div>
        </button>
    </div>
    </div>
</form>
</body>
</html>