<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users List</title>
    <div th:replace="fragments/imports :: imports"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 content">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">User</th>
                <th scope="col">Editor</th>
                <th scope="col">Admin</th>
                <th scope="col">Delete</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,iterStat : ${users}">
                <form th:id="|user${iterStat.index}|" th:action="@{/user/update}" method="post">
                    <input th:name="id" th:value="${user.id}" hidden/>
                    <th scope="row" th:text="${user.id}"></th>
                    <td><input type="text" th:name="login" th:value="${user.login}"/></td>
                    <td><input type="text" th:name="password" th:value="${user.password}"/></td>
                    <td><input type="checkbox" th:name="role" th:value="USER"/></td>
                    <td><input type="checkbox" th:name="role" th:value="EDITOR"/></td>
                    <td><input type="checkbox" th:name="role" th:value="ADMIN"/></td>

                    <td><a th:href="@{/user/delete(id=${user.id})}">
                        <button th:text="#{delete.welcome}" class="btn btn-danger" type="button">Delete</button>
                    </a></td>
                    <td>
                        <button th:text="#{edit.welcome}" class="btn btn-warning" type="submit">Edit</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>