<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create hero</title>
<body>
<div th:replace="fragments/imports :: imports"></div>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 content">
        <form th:action="@{/hero/update}" method="post">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="name" th:text="#{name.welcome}"></label>
                    <input type="text" name="name" id="name" class="form-control"/>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="nickname" th:text="#{nickname.welcome}"></label>
                    <input type="text" name="nickname" id="nickname" class="form-control"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="age" th:text="#{age.welcome}"></label>
                    <input type="number" name="age" id="age" min="0" max="150"
                           class="form-control"/>
                </div>
                <div class="col-md-6 mb-3">
                    <fieldset class="form-group">
                        <div>
                            <legend class="col-form-label col-sm-2 pt-0" th:text="#{gender.welcome}">Gender</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input type="radio" name="gender" th:value="MALE" id="male"
                                           class="form-check-input" checked="checked">
                                    <label class="form-check-label" for="male" th:text="#{genderMale.welcome}">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="gender" th:value="FEMALE" id="female"
                                           class="form-check-input">
                                    <label class="form-check-label" for="male" th:text="#{genderFemale.welcome}">
                                        Female
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="gender" th:value="CREATURE" id="creature"
                                           class="form-check-input">
                                    <label class="form-check-label" for="male" th:text="#{genderCreature.welcome}">
                                        Creature
                                    </label>
                                </div>

                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="form-row">
                <input type="number" name="characteristicId" hidden>
                <div class="col-md-4 mb-3">
                    <label for="health" th:text="#{health.welcome}"></label>
                    <input type="number" name="health" id="health" min="1" max="1000" class="form-control"/>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="strength" th:text="#{strength.welcome}"></label>
                    <input type="number" name="strength" id="strength" min="1" max="1000" class="form-control"/>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="agility" th:text="#{agility.welcome}"></label>
                    <input type="number" name="agility" id="agility" min="1" max="1000" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <textarea name="description" rows="4" id="description" class="form-control input-large"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning">
                    <div th:text="#{hero_create.welcome}"></div>
                </button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>
</body>
</html>