<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Hero List</title>
    <div th:replace="fragments/imports :: imports"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 content">
        <div th:each="hero : ${heroes}" class="card hero-card">
            <div class="d-flex justify-content-between">
                <div>
                    <a th:href="@{/hero(id=${hero.id})}" th:text="${hero.name}"></a>
                    <div th:text="${hero.nickname}"></div>
                    <br>
                </div>
                <div sec:authorize="hasAuthority('EDITOR')">
                    <a th:href="@{/hero/delete(id=${hero.id})}">
                        <button th:text="#{delete.welcome}" class="btn btn-danger">Delete</button>
                    </a>
                    <a th:href="@{/hero/update(id=${hero.id})}">
                        <button th:text="#{edit.welcome}" class="btn btn-warning">Edit</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>