<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title>Hero</title>
</head>
<div th:replace="fragments/imports :: imports"></div>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 content">
        <div th:text="${hero.name}"></div>
        <div th:text="${hero.nickname}"></div>
        <div th:text="${hero.age}"></div>
        <div th:text="${hero.gender}"></div>
        <div th:text="${hero.description}"></div>
        <div th:text="${hero.characteristic.health}"></div>
        <div th:text="${hero.characteristic.strength}"></div>
        <div th:text="${hero.characteristic.agility}"></div>
    </div>
</div>
</body>
</html>