<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update hero</title>
<body>
<div th:replace="fragments/imports :: imports"></div>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 content">
        <form th:action="@{/hero/update}" method="post">
            <input type="number" name="id" th:value="${hero.id}" hidden>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="name" th:text="#{name.welcome}"></label>
                    <input type="text" name="name" id="name" th:value="${hero.name}" class="form-control"/>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="nickname" th:text="#{nickname.welcome}"></label>
                    <input type="text" name="nickname" id="nickname" th:value="${hero.nickname}" class="form-control"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="age" th:text="#{age.welcome}"></label>
                    <input type="number" name="age" id="age" th:value="${hero.age}" min="0" max="150"
                           class="form-control"/>
                </div>
                <div class="col-md-6 mb-3">
                    <fieldset class="form-group">
                        <div>
                            <legend class="col-form-label col-sm-2 pt-0" th:text="#{gender.welcome}">Gender</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input type="radio" name="gender" th:value="MALE" id="male"
                                           class="form-check-input"
                                           th:checked="${hero.gender == T(by.htm.jd2.ruslan.bean.entity.enums.Gender).MALE}">
                                    <label class="form-check-label" for="male" th:text="#{genderMale.welcome}">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="gender" th:value="FEMALE" id="female"
                                           class="form-check-input"
                                           th:checked="${hero.gender == T(by.htm.jd2.ruslan.bean.entity.enums.Gender).FEMALE}">
                                    <label class="form-check-label" for="male" th:text="#{genderFemale.welcome}">
                                        Female
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="gender" th:value="CREATURE" id="creature"
                                           class="form-check-input"
                                           th:checked="${hero.gender == T(by.htm.jd2.ruslan.bean.entity.enums.Gender).CREATURE}">
                                    <label class="form-check-label" for="male" th:text="#{genderCreature.welcome}">
                                        Creature
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="form-row">
                <input type="number" name="characteristicId" th:value="${hero.characteristic.id}" hidden>
                <div class="col-md-4 mb-3">
                    <label for="health" th:text="#{health.welcome}"></label>
                    <input type="number" name="health" id="health" th:value="${hero.characteristic.health}" min="1"
                           max="1000" class="form-control"/>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="strength" th:text="#{strength.welcome}"></label>
                    <input type="number" name="strength" id="strength" th:value="${hero.characteristic.strength}"
                           min="1" max="1000" class="form-control"/>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="agility" th:text="#{agility.welcome}"></label>
                    <input type="number" name="agility" id="agility" th:value="${hero.characteristic.agility}" min="1"
                           max="1000" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <textarea name="description" rows="4" id="description" th:text="${hero.description}"
                          th:value="${hero.description}" class="form-control input-large"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning">
                    <div th:text="#{hero_save.welcome}"></div>
                </button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>
</body>
</html>