<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
<body>
<div th:replace="fragments/imports :: imports"></div>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 content">
        <form th:action="@{/login}" method="post">
            <div class="card">
                <div class="card-header p-b-0">
                    <h5 class="card-title" th:text="#{enter.title}">
                        Log In
                    </h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="login" th:text="#{login.welcome}">Username: </label>
                        <input type="text" class="form-control" name="username" id="login">
                    </div>
                    <div class="form-group">
                        <label for="password" th:text="#{password.welcome}">Password: </label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" th:text="#{enter.welcome}">Log In</button>
                        <a th:href="@{/user/create}">
                            <button class="btn btn-success" th:text="#{registration.welcome}" type="button">Register
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>
</body>
</html>