<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="navbar">
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li><a class="nav-link active" th:href="@{/articles}" th:text="#{back_to_first.welcome}">Home</a></li>
            <li><a class="nav-link active" th:href="@{/heroes}" th:text="#{heroes.welcome}">Heroes</a></li>
            <li><a class="nav-link active" th:href="@{/battles}" th:text="#{battles.welcome}">Battles</a></li>
            <th:block sec:authorize="hasAuthority('EDITOR')">
                <li><a class="nav-link active" th:href="@{/article/create}" th:text="#{article_create.welcome}">Create
                    article</a></li>
                <li><a class="nav-link active" th:href="@{/battle/create}" th:text="#{battle_create.welcome}">Create
                    battle</a></li>
                <li><a class="nav-link active" th:href="@{/hero/create}" th:text="#{hero_create.welcome}">Create
                    hero</a></li>
            </th:block>
            <li sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link active" th:href="@{/users}" th:text="#{users.welcome}">Users</a>
            </li>
        </ul>

        <select class="col-1 dropdown" id="locales" style="margin-right: 8px">
            <option value="ru_RU" th:selected="__${#locale}__=='ru_RU'">Русский</option>
            <option value="en_US" th:selected="__${#locale}__=='en_US'">English</option>
        </select>
        <ul class="navbar-nav" sec:authorize="isAnonymous()">
            <a th:href="@{/login}" class="nav-link active" th:text="#{enter.title}">Log in</a>
            <a th:href="@{/user/create}" class="nav-link active" th:text="#{registration.welcome}">Register</a>
        </ul>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <button class="btn btn-light my-2 my-sm-0" type="submit" th:text="#{logout}">Exit</button>
        </form>
    </div>
</nav>
</body>
</html>